In [3]:
import pandas as pd
import numpy as np
path_timesheet = './timesheet-system-2.xlsx'
path_project_task_system_1 = './project.task-system-1.xls'
path_project_task_system_2 = './project.task-system-2.xlsx'
df_timesheet = pd.read_excel(path_timesheet)

In [7]:
df_timesheet["Feature"]=df_timesheet["Task/Display Name"].fillna("").str.cat(df_timesheet["Task/Description"].fillna("")).str.cat(df_timesheet["Description"].fillna(""))

In [ ]:
df_timesheet["Feature"]=df_timesheet["Task/Display Name"].fillna("").str.cat(df_timesheet["Task/Description"].fillna(""))

In [8]:
df_timesheet["Feature"]=df_timesheet["Feature"].astype(str)
df_timesheet["Feature"]

0                         WarehouseNPI integration Analysis
1         CRM workflow and shopping cart changesDesign t...
2                          R&D on NetSuiteWorked on Payroll
3         Missing TaskWorking upon Added Changes in Bill...
4         Missing Taskskt session for integration and pa...
5         Changes in Customer service and Lab Changed Ch...
6         Warehousetwo different filters in DO for ref b...
7           Warehouseadd resolution under help desk support
8         WarehouseEmail_Sales_Rep config  under doctor ...
9         Tony & GuyDone and finalized additional functi...
10                                      SDC ReportingReview
11                  Odoo 9setting up demo for Manufacturing
12        Payroll research, configuration and testingWor...
13        Bista Support & General WorkBista Support & Ge...
14        Blog & Demosoracle module upgarding issue ,rep...
15            Bista Generallearned accounting balance sheet
16        changes in crm flowworked on permission to cal...
17        BoM structure view custom ModuleCustom tree vi...
18                SDC Sweden ReportFormatting Reports (CR)
19        Commission changes for FEBworking on PC change...
20                      OPS/CR/005merged the branch on git
21        Staging and Analysiscode merging,fixing and te...
22                      Other TaskR& D on periodic Section
23                Netsuite Payroll Module review with Team
24            Netsuite Sync up meeting with Team for Video
25        Working upon bugs and issuesworked on ftp chan...
26                                     RamcoResumes review
27        RnD on NetsuiteWorked on Payroll Calculation S...
28        Load TestingLoad Testing on Product page with ...
29        Issues and changes on liveSolving the issues P...
                                ...
198868    Add work center description to workorder<p>Des...
198869                  New GP InstanceData check, meetings
198870    Git code upload and testingDid work for upload...
198871    Migration v10 to v11testing purchase flow with...
198872    Store location developmentWorking on store loc...
198873    Support<p>It includes support and miscellaneou...
198874    Magento v2.x Install,make connector Odoo v10,U...
198875    Data Migrationmade  the list of missing  user,...
198876    Fiscal Invoice Live SupportFix coppel addenda ...
198877    Jan- Meeting and Task Review 2018Looking into ...
198878    Marcadolibre - eCommercehow to handle token in...
198879        Ach file creationsynch up meeting with preeti
198880       Improve the knowledge <p><br></p>odoo 11 study
198881    Magento connector with odoounderstand the mint...
198882    CRM related tasksClening new delivery master r...
198883                missing daily taskRnd On Processmaker
198884    Salesperson De-allocationWorked on feature of ...
198885    Database Migration 6.1 to 10.0<p>- To migrate ...
198886    User Manual<p>Need to create User Manual for n...
198887    Ebay demo for one shop stopWorked on connector...
198888     wv_knowledgeTransfortesting accessory daily jobs
198889    Domo integration with Red shift demo for WVWor...
198890    change MRP Journal EntriesWorked on change sto...
198891    Vistra General Task<p><br></p>working on email...
198892        Client Meeting<p><br></p>Attended client call
198893    Ach file creationChecked, debugged the java pr...
198894    Stripe Payment and Advanced Payment Feature an...
198895    UnInvoiced Report<p>For the Related PO search ...
198896     General Tasks<p><br></p>Changes in LMS Scheduler
198897    Meetings & QA Process<p><br></p>discussion reg...
Name: Feature, Length: 198898, dtype: object

In [9]:
df_timesheet[["Feature","Task/ID"]].sort_values("Task/ID")

                                                  Feature  Task/ID
173142                 Prepare cost centers for abu dhabi        0
175909  Created module and shared with alpesh for fnf ...        0
176282  Improved code for gratuity and access right is...        0
176056  Created screen for configuration and added rec...        0
171846                Working on Multiple invoice payment        0
172449  Improved code for return petty cash funtionali...        0
178825  Create module for allow to create comp-off req...        0
177632       Improved code and attend meeting of empower.        0
172955  OS F&F for employee in manage petty cash flow....        0
158518         Completed the solution design for purchase        0
172274  Improvement F&F process for chatter details re...        0
172273  Partner create or write in bista_hr from gratu...        0
152847              Completed solution design for Reports        0
172438  Improved code for return petty cash funtionali...        0
154035      Completed the design solution for accounting.        0
172797  OS F&F for employee in manage petty cash flow....        0
168021  Sales Order annual total on report and calcula...        0
172631  After verification for reconcilation implement...        0
172003  F&F functionality in calculate panelties, Asse...        0
176672  Discussed with manager for create partner or u...        0
175635  Travel module in add needed data and check wit...        0
172630  Analysis for petty cash & expense how to manag...        0
172450  Improved code for expense details use in other...        0
174863  Added assets access rights and added other req...        0
172510  Create payment and payment if done by Bank the...        0
172511  After verification for reconcilation implement...        0
172731  Analysis for petty cash & expense how to manag...        0
175289  Check with holiday module and removed that no ...        0
168020  CRM golive fix in Odoo log and sprint with Pre...        0
175634  Improved code for access rights and issue and ...        0
...                                                   ...      ...
136479  Return Process and Web changes for Return proc...   213522
136331  Return Process and Web changes for Return proc...   213522
136723  Return Process and Web changes for Return proc...   213522
136222  Return Process and Web changes for Return proc...   213522
136388  Return Process and Web changes for Return proc...   213522
138865  Solutions for optimize survey and co-ordinatin...   213526
136243  Solutions for optimize survey and co-ordinatin...   213526
139296  Solutions for optimize survey and co-ordinatin...   213526
136465  Solutions for optimize survey and co-ordinatin...   213526
136860  R&D for USSD Payment and Push Notification Fun...   213538
136136  R&D for USSD Payment and Push Notification Fun...   213538
136759  R&D for USSD Payment and Push Notification Fun...   213538
136352  R&D for USSD Payment and Push Notification Fun...   213538
136244  R&D for USSD Payment and Push Notification Fun...   213538
137078  R&D for USSD Payment and Push Notification Fun...   213538
136669  R&D for USSD Payment and Push Notification Fun...   213538
137172  R&D for USSD Payment and Push Notification Fun...   213538
136569  R&D for USSD Payment and Push Notification Fun...   213538
136977  R&D for USSD Payment and Push Notification Fun...   213538
136466  R&D for USSD Payment and Push Notification Fun...   213538
137077  Weekly meeting reports and solution for accoun...   213556
137081  Weekly meeting reports and solution for accoun...   213556
136976  Weekly meeting reports and solution for accoun...   213556
136248  reliance partners UAT setup<p><br></p>reliance...   213714
136360  reliance partners UAT setup<p><br></p>Reliance...   213714
136039  reliance partners UAT setup<p><br></p>reliance...   213714
137082  reliance partners UAT setup<p><br></p>Reliance...   213714
136473  reliance partners UAT setup<p><br></p>Reliance...   213714
136984  reliance partners UAT setup<p><br></p>Reliance...   213714
136583  reliance partners UAT setup<p><br></p>reliance...   213714

[198898 rows x 2 columns]

In [10]:
column_names = list(df_timesheet.columns)
column_names

['Project/Display Name',
 'Task/ID',
 'Task/Start Date',
 'Task/Display Name',
 'Task/Task Type',
 'Task/Description',
 'Task/Initially Planned Hours',
 'Date',
 'User/Name',
 'Task/Total Hours',
 'Is Billable',
 'Description',
 'Quantity',
 'Feature']

In [11]:
df_timesheet["Task/ID"].unique().shape

(26917,)

In [12]:
df_timesheet.head()

,Project/Display Name,Task/ID,Task/Start Date,Task/Display Name,Task/Task Type,Task/Description,Task/Initially Planned Hours,Date,User/Name,Task/Total Hours,Is Billable,Description,Quantity,Feature
0,Commonwealth labs LLC,170347,NaT,Warehouse,False,NaN,NaN,2016-01-15,False,NaN,Billable,NPI integration Analysis,1.0,WarehouseNPI integration Analysis
1,Khazana,169776,NaT,CRM workflow and shopping cart changes,False,NaN,60.0,2016-01-15,False,NaN,Billable,Design to send the information from the cart t...,2.0,CRM workflow and shopping cart changesDesign t...
2,Netsuite Internal Process,169280,2018-01-31,R&D on NetSuite,R&D,NaN,10.0,2016-01-15,Prashant Gupta,NaN,Billable,Worked on Payroll,8.0,R&D on NetSuiteWorked on Payroll
3,Advomas,196762,NaT,Missing Task,False,NaN,NaN,2016-01-15,False,NaN,Billable,Working upon Added Changes in Billing View,9.0,Missing TaskWorking upon Added Changes in Bill...
4,ZAMIL-HRMS Support,182208,NaT,Missing Tasks,False,NaN,NaN,2016-01-15,Tabassum Mujawar,NaN,Billable,kt session for integration and payslip sign issue,8.0,Missing Taskskt session for integration and pa...

In [8]:
df_timesheet["Task/Description"]=df_timesheet["Task/Description"].fillna("").astype(str)

In [26]:
df_timesheet["Description"]=df_timesheet["Description"].str.lower()
df_timesheet["Description"].shape

(198898,)

In [31]:
grp_project_display_name_task_ID_feat_concat = pd.DataFrame(df_timesheet.groupby(["Description"])['Feature'].apply('[stop]'.join).reset_index())
grp_project_display_name_task_ID_quantity_sum = pd.DataFrame(df_timesheet.groupby(["Description"])['Quantity'].sum().reset_index())

In [33]:
res = pd.merge(grp_project_display_name_task_ID_feat_concat, grp_project_display_name_task_ID_quantity_sum, on = 'Description')

In [30]:
res.to_csv("res.csv",index=False)

In [38]:
res.Feature.shape

(154315,)

In [40]:
res.Feature.unique().shape

(154315,)

In [41]:
data=res.Quantity.values
sort_data=np.array(np.sort(data))
print(sort_data.shape)
idx=0
offset=sort_data.shape[0]//10
print(offset)
binned=[]
for i in range(10):
    binned.append(sort_data[idx:idx+offset])
    idx+=offset
binned=np.array(binned)

(154315,)
15431

In [ ]:
sort_data[-200:]

In [51]:
import math
catgories=[]
for i,bin in enumerate(binned):
    
    if(i==9):
        print(str(bin[0])+"-"+str(float(math.floor(bin[-1]))))
        catgories.append(str(float(math.floor(bin[0])))+"-"+str(100.0))
    else:
        print(str(float(math.floor(bin[0])))+"-"+str(float(math.floor(bin[-1]))))
        
        catgories.append(str(float(math.floor(bin[0])))+"-"+str(float(math.floor(bin[-1]))))

0.0-1.0
1.0-1.0
1.0-2.0
2.0-3.0
3.0-4.0
4.0-5.0
5.0-7.0
7.0-8.0
8.0-8.0
8.0-1480.0

In [52]:
catgories.remove('1.0-1.0')
catgories.remove('8.0-8.0')
catgories

['0.0-1.0',
 '1.0-2.0',
 '2.0-3.0',
 '3.0-4.0',
 '4.0-5.0',
 '5.0-7.0',
 '7.0-8.0',
 '8.0-100.0']

In [53]:
labels=[]
encoded_labels=[]
for dat in data:
    for label in catgories:
        if (dat>=float(label.split("-")[0]) and dat<=float(label.split("-")[-1])):
            labels.append(label)
            encoded_labels.append("Task"+str(catgories.index(label)+1))
            break
        if(dat>=100):
            labels.append(">100")
            encoded_labels.append("Task9")
            break

In [54]:
len(encoded_labels)

154315

In [59]:
res["Label"]=labels
res["Encoded Label"]=encoded_labels

In [61]:
del res["Description"]

In [62]:
res.head()

,Feature,Quantity,Label,Encoded Label
0,Great AnnualSavings: Energy System module migr...,8.000000,7.0-8.0,Task7
1,Great AnnualSavings: Energy System module migr...,3.000000,2.0-3.0,Task3
2,Contract Rostering Module development,0.116944,0.0-1.0,Task1
3,"Open SO's , Open Opportunities, Open Meetings ...",4.000000,3.0-4.0,Task4
4,The should be a menu which should allow the us...,5.000000,4.0-5.0,Task5

In [64]:
res2=res.copy()

In [ ]:
res2.insert(0,"Feature",res2["Task/Display Name"].fillna("").str.cat(res2["Task/Description"].fillna("")))
del res2["Task/Display Name"]
del res2["Task/Description"]

In [63]:
res2.Feature.unique().shape

(154315,)

In [21]:
res2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26917 entries, 0 to 26916
Data columns (total 3 columns):
Task/ID     26917 non-null int64
Feature     26917 non-null object
Quantity    26917 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 841.2+ KB

In [24]:
res2["Label"]=labels
res2["Encoded_Label"]=encoded_labels

In [65]:
res2.head()

,Feature,Quantity,Label,Encoded Label
0,Great AnnualSavings: Energy System module migr...,8.000000,7.0-8.0,Task7
1,Great AnnualSavings: Energy System module migr...,3.000000,2.0-3.0,Task3
2,Contract Rostering Module development,0.116944,0.0-1.0,Task1
3,"Open SO's , Open Opportunities, Open Meetings ...",4.000000,3.0-4.0,Task4
4,The should be a menu which should allow the us...,5.000000,4.0-5.0,Task5

In [68]:
res3=res2.copy()

In [69]:
res3=res3.drop_duplicates(subset="Feature")

In [70]:
res3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154315 entries, 0 to 154314
Data columns (total 4 columns):
Feature          154315 non-null object
Quantity         154315 non-null float64
Label            154315 non-null object
Encoded Label    154315 non-null object
dtypes: float64(1), object(3)
memory usage: 5.9+ MB

In [72]:
vals=res3.Feature.values
set_vals=[]
for val in vals:
    print(val.split("[stop]"))

In [73]:
res3.head()

,Feature,Quantity,Label,Encoded Label
0,Great AnnualSavings: Energy System module migr...,8.000000,7.0-8.0,Task7
1,Great AnnualSavings: Energy System module migr...,3.000000,2.0-3.0,Task3
2,Contract Rostering Module development,0.116944,0.0-1.0,Task1
3,"Open SO's , Open Opportunities, Open Meetings ...",4.000000,3.0-4.0,Task4
4,The should be a menu which should allow the us...,5.000000,4.0-5.0,Task5

In [75]:
striped=res3["Feature"].apply(lambda x : ",".join(list(set(x.split("[stop]")))).lstrip().rstrip())
res4=pd.DataFrame([striped,res3["Quantity"],res3["Label"],res3["Encoded Label"]]).transpose()

In [ ]:
res4[res4.duplicated(subset="Feature")]

In [77]:
res4=res4.drop_duplicates(subset="Feature")

In [78]:
res4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153975 entries, 0 to 154314
Data columns (total 4 columns):
Feature          153975 non-null object
Quantity         153975 non-null object
Label            153975 non-null object
Encoded Label    153975 non-null object
dtypes: object(4)
memory usage: 5.9+ MB

In [79]:
import csv
res4.to_csv("Timesheet_dataset_no_dups_label_Encoded-description.csv",index=False,quoting=csv.QUOTE_NONNUMERIC)

In [76]:
res3.to_pickle("Timesheet_dataset_no_dups.pickle",)

In [81]:
res4.to_pickle("Timesheet_dataset_no_dups_label_Encoded.pickle",)

In [80]:
del res4["Quantity"]